permissions:
  contents: read
on:
  push:
    branches: [main]
  pull_request:
concurrency:
  group: ${{ github.workflow }}-${{ github.head_ref || github.run_id }}
  cancel-in-progress: true
name: CI
jobs:
  # cargo-deny:
  #   runs-on: ubuntu-latest
  #   steps:
  #     - uses: actions/checkout@v6
  #     - uses: EmbarkStudios/cargo-deny-action@v2
  fmt:
    runs-on: ubuntu-latest
    name: stable / fmt
    steps:
      - uses: actions/checkout@v6
        with:
          submodules: true
      - name: Install stable
        uses: dtolnay/rust-toolchain@stable
        with:
          components: rustfmt
      - name: cargo fmt --check
        run: cargo fmt --check
  clippy:
    runs-on: ubuntu-latest
    name: ${{ matrix.toolchain }} / clippy
    permissions:
      contents: read
      checks: write
    strategy:
      fail-fast: false
      matrix:
        toolchain: [stable]
    steps:
      - uses: actions/checkout@v6
        with:
          submodules: true
      - name: Install Nix
        uses: DeterminateSystems/determinate-nix-action@main
      - name: Install devenv.sh
        run: nix profile add 'nixpkgs#devenv'
      - name: cargo clippy
        shell: devenv shell bash -- -e {0}
        run: cargo clippy --all-features --all-targets
  doc:
    runs-on: ubuntu-latest
    name: nightly / doc
    steps:
      - uses: actions/checkout@v6
        with:
          submodules: true
      - name: Install Nix
        uses: DeterminateSystems/determinate-nix-action@main
      - name: Install devenv.sh
        run: nix profile add 'nixpkgs#devenv'
      - name: cargo doc
        shell: devenv shell bash -- -e {0}
        run: cargo doc --no-deps --all-features
        env:
          RUSTDOCFLAGS: --cfg docsrs
  required:
    runs-on: ubuntu-latest
    name: ubuntu / ${{ matrix.toolchain }} / required
    strategy:
      matrix:
        toolchain: [stable]
    steps:
      - uses: actions/checkout@v6
        with:
          submodules: true
      - name: Install Nix
        uses: DeterminateSystems/determinate-nix-action@main
      - name: Install devenv.sh
        run: nix profile add 'nixpkgs#devenv'
      - name: cargo generate-lockfile
        if: hashFiles('Cargo.lock') == ''
        run: cargo generate-lockfile
      - name: cargo test --locked
        shell: devenv shell bash -- -e {0}
        run: cargo test --locked --all-features --all-targets
      # https://github.com/rust-lang/cargo/issues/6669
      - name: cargo test --doc
        shell: devenv shell bash -- -e {0}
        run: cargo test --locked --all-features --doc
  os-check:
    runs-on: ${{ matrix.os }}
    name: ${{ matrix.os }} / stable / test
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest]
    steps:
      - uses: actions/checkout@v6
        with:
          submodules: true
      - name: Install Nix
        uses: DeterminateSystems/determinate-nix-action@main
      - name: Install devenv.sh
        run: nix profile add 'nixpkgs#devenv'
      - name: cargo generate-lockfile
        if: hashFiles('Cargo.lock') == ''
        shell: devenv shell bash -- -e {0}
        run: cargo generate-lockfile
      - name: cargo test
        shell: devenv shell bash -- -e {0}
        run: cargo test --locked --all-features --all-targets
